extends layout

block content
  section
    h2 All good.

    p Include this script, make sure to alter param value "jsonp" to there name of your callback method:
    code
      | &#60;script src="http://polman.herokuapp.com/api/forecast?url=#{url}&num=#{num}&jsonp=myCallback"&#62;&#60;/script&#62;

    p Here is an example and <a href="/api/forecast?url=#{url}&num=#{num}&jsonp=myCallback">here</a> is what the data looks like.

    hr

    p Please note that weather data is cached for ~10 minutes which means that there is a slight delay compared to yr.no's data. 

    p Weather forecast from yr.no, delivered by the Norwegian Meteorological Institute and the NRK.

    footer: p
      | 

