extends layout-widget

block content
  
  table
    thead
      tr
        th Datum
        th Klockslag
        th Temp
        th Nederbörd
        th Vindhastighet
        th Vindriktning
    tbody
      //- TODO: this loop sure is ugly - fix
      - var i = 0;
      for item in forecast.weatherdata.forecast.tabular.time  
        - i++; if(i > num) return;
        tr
          td
            mixin formatDate(item.from)
          td
            mixin formatTime(item.from, item.to)
          td= item.temperature.value + "&deg;"
          td= item.precipitation.value + "mm"
          td= item.windSpeed.mps + "m/s"
          td= item.windDirection.code

mixin formatDate(d)
  - d = moment(d).format("YYYY-MM-DD")
  = d

mixin formatTime(from, to)
  - from = moment(from).format("HH:mm")
  - to = moment(to).format("HH:mm")
  = from + '-' + to
