* {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22.5px;
}
h1 {
  font-weight: 300;
  font-size: 22px;
  margin: 10px 0 0 0;
}
h2 {
  font-size: 18px;
  font-weight: 700;
  margin: 5px 0 -5px 0;
}
label {
  font-size: 16px;
}
strong {
  font-weight: 700;
}
p {
  margin: 11.25px 0 22.5px;
}
body {
  background: #ffffff url(../img/blur.jpg) no-repeat center center;
  background-size: cover;
  text-align: center;
}
#wrapper {
  max-width: 500px;
  margin: 30px auto;
  text-align: left;
}
#header {
  text-align: center;
  padding: 20px;
}
section {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px 25px;
  border-radius: 4px;
}
section p:last-child {
  margin-bottom: 0;
}
section header {
  background: #fff;
  border-bottom: 1px solid #4e5e7e;
  padding: 10px;
}
a {
  color: #00B7FF;
}
form p {
  margin: 29.25px 0;
}
label {
  font-weight: 700;
  display: block;
}
label.radio {
  margin: 10px 0;
  font-weight: 300;
}
input {
  font-family: 'Lato', serif;
  font-size: 18px;
}
input[type="text"] {
  width: 98%;
  line-height: 35px;
  border: 1px solid #999;
  padding: 0 5px;
}
input[type="radio"] {
  float: left;
  margin: 5px 10px 0 0;
}
.btn {
  border: 1px solid #0a6d00;
  background: #036300;
  color: #fff;
  padding: 4px 10px;
}
.btn:hover {
  border-color: #043400;
}
